<div class="felx boreder-2 bg-violet-100 rounded items-left flex-col">
    <div class=" py-4 px-2  mb-2 flex flex-col items-center text-center">
        <img class="w-32" src="assets/Icons/Planet-type2.png">
        <h1 class="font-bold">Космический объект</h1>
        <p>Имя объекта:{{object.name}}</p>
        <p>Возвраст объекта={{object.age}}</p>
        <p>Тип объекта={{object.type}}</p>
        <p>Диаметр={{object.diameter}}</p>
        <p>Масса объекта={{object.mass}}</p>
    </div>
    <div class="flex flex-row">
        <button class=" m-1 border-1 bg-blue-100">Редактировать</button>
        <button  class=" m-1 border-1 bg-blue-100">Удалить</button>
    </div>
</div>